* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}
body{
	font-family: 'Poppins', sans-serif;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	
}

.container{
	width: 70%;
	padding: 20px;
	float: left;
	box-sizing: border-box;
}

aside{
	width: 30%;
	padding: 20px;
	box-sizing: border-box;
}
.container{
	/* background: lightblue; */
	width: 90%;
	max-width: 1000px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;

}.card{
	min-height: 90vh;
	width: 45rem;
	border-radius: 30px;
	padding: 0rem 5rem;
	/* background: lightcoral; */
	box-shadow: 0 20px 20px rgba(0,0,0,0.2), 0px 0px 50px rgba(0,0,0,0.2);
}
.sneaker {
	min-height: 20vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.sneaker img{
	width: 7.5rem;
	z-index: 2;
}
.title_1 h1{
	font-size: 1.8rem;
	color: #585858;
}
.info h1{
	font-size: 1.5rem;
}
.info h3{
	font-size: 1.2rem;
	padding: 0.2rem 0rem;
	color: #2077F7;
	font-weight:400;
}
.sizes{
	display: flex;
	justify-content: space-between;
	padding: 1.1rem 0rem;
}
.sizes button{
	padding: 0.5rem 2.5rem;
	background: none;
	border:none;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
	border-radius: 30px;
	font-weight:bold;
	columns: #585858;
	cursor: pointer;
}
button.active{
	background: #585858;
}
.purchase{
	margin-top: 0.5rem;
}
.purchase button{
	width: 100%;
	padding: 0.35rem 0rem;
	background: #f54642;
	border:none;
	cursor: pointer;
	border-radius: 30px;
}

@media screem and (max-width: 800px)
{
	body{
		background: #ff8000;
	}
}